<div class="w-full inline-block relative typing" data-users="" >
    <div class="float-left ml-1 mr-5 my-1" style="max-width: 75%;">
        <div id="role" class="relative table-cell bg-gray-300 px-2 py-4 rounded-lg" >
            <%= inline_svg_tag('icons/typing.svg') %>
        </div>
        <small id="users" class="text-gray-300"><i><span id="names"></span></i></small>
    </div>
</div>