.message {   
    &.api {
        .content {
            background-color: #3675a6 !important;
            color: white;
        }
    }
}


.status {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0px;
    bottom: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    &.pending {
        background-image: url(/assets/icons/circle.svg);
    }
    &.sent {
        background-image: url(/assets/icons/check.svg);
    }
    &.delivered {
        background-image: url(/assets/icons/check.svg);
    }
}